<div class="ui form" ref="form">
	<div class="fields">
		<div class="six wide field">
			<label>Sede</label>
			<div class="ui fluid multiple search selection dropdown" ref="branch_dropdown">
				<input type="hidden" name="branch">
				<i class="dropdown icon"></i>
				<div class="default text">Seleccione</div>
				<div class="menu"></div>
			</div>
		</div>
		<div class="five wide field">
			<label>Carné de alumno</label>
			<div class="ui input">
				<input type="text" v-model="student_card" placeholder="Buscar por carné">
			</div>
		</div>
		<div class="five wide field">
			<label>Nombre de profesor</label>
			<div class="ui fluid multiple search selection dropdown" ref="professor_dropdown">
				<input type="hidden" name="professor">
				<i class="dropdown icon"></i>
				<div class="default text">Seleccione</div>
				<div class="menu"></div>
			</div>
		</div>
	</div>
	<div class="fields">
		<div class="six wide field">
			<label>Periodo</label>
			<div class="ui fluid multiple search selection dropdown" ref="period_dropdown">
				<input type="hidden" name="period">
				<i class="dropdown icon"></i>
				<div class="default text">Seleccione</div>
				<div class="menu"></div>
			</div>
		</div>
		<div class="seven wide field">
			<label>Aula</label>
			<div class="ui input">
				<input type="text" v-model="clsrmName" placeholder="Buscar por nombre de aula">
			</div>
		</div>
		<div class="three wide field" style="display:flex; align-items:flex-end;">
			<div class="ui blue fluid icon labeled button" @click="submit">
				<i class="search icon"></i> Consultar
			</div>
		</div>
	</div>
</div>
